/* -----------------------
Tablet Devices CSS 
------------------------ */
@media screen and (max-width: 768px) {
    .container {
        max-width: 95%;
    }
    .sec-padding {
        padding: 40px 0;
    }
    /* banner area  */
    .banner-title h1 {
        font-size: 32px;
        line-height: 50px;
        margin: 15px 0;
    }
    .banner-left p {
        font-weight: 400;
        padding: 0 10px;
    }

    /* Products Area  */
    .products {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    

}

/* -----------------------
Mobile Devices CSS 
------------------------ */
@media screen and (max-width: 480px) {
    .container {
        max-width: 95%;
    }
    .sec-padding {
        padding: 30px 0;
    }
    /* Header Area  */
    nav {
        padding: 0px 15px;
    }
    .nav-bars {
        display: block;
        order: 1;
    }
    nav .logo {
        order: 2;
    }
    .nav-right {
        order: 3;
    }
    nav .search-icon {
        display: none;
    }
    nav .logo img {
        width: 100px;
        height: 30px;
    }
    ul.menu {
        position: absolute;
        top: 80px;
        left: -180px;
        width: 40%;
        border-radius: 0 50px 0 0;
        flex-direction: column;
        align-items: center;
        background-color: rgba(245, 53, 187, 0.7);
        padding: 5px 0;
        transform: translateX(-330px);
        transition: .5s ease-in-out;
    }
    ul.menu li {    
        display: block;    
        border-bottom: 1px solid #87cefa;
    }
    ul.menu li a {
        color: #fff;
    }
    #nav-toggler:checked ~ .nav-right > ul.menu {
        transform: translateX(180px);
    }

    /* Banner Area  */
    .banner {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
        text-align: center;
    }
    .banner-left {
        order: 2;
    }
    .banner-right {
        order: 1;
    }

    /* Logos Area  */
    .logos {
        padding: 20px 0;
    }
    .logos img {
        width: 30px;
    }

    /* Products Area  */
    .products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        align-content: center;
    }

    /* Unlock Power Area  */
    .unlock-power-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        padding: 15px;
    }

}